.intro {
  margin: 92px auto 0 auto;
  width: 830px;
}

.intro_title {
  color: #fff;
  line-height: 58px;
  font-size: 54px;
  font-weight: 900;
  margin-top: 0;
}

.intro_cite {
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  margin-top: 40px;
  width: 100%;
}

.intro_author {
  color: #fff;
  margin-top: 10px;
  width: 100%;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  text-align: end;
}

.intro_paragraph {
  color: #fff;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.63rem;
  margin-top: 32px;
}

/* Responsive adjustments for mobile screens */

@media screen and (min-width: 320px) and (max-width: 544px) {
  .intro {
    width: 90%;
    margin-top: 90px;
  }

  .intro_title {
    width: 100%;
    font-size: 45px;
    line-height: 49px;
  }
}

/* Responsive adjustments for tablet screens */

@media screen and (min-width: 544px) and (max-width: 1024px) {
  .intro {
    width: 94%;
    margin-top: 90px;
  }

  .intro_title {
    width: 100%;
    font-size: 45px;
    line-height: 49px;
  }
}
