.intro {
  margin: 92px auto 0 auto;
  width: 65%;
}

.intro__title {
  color: #fff;
  line-height: 1.07;
  font-size: 54px;
  font-weight: 900;
  margin-top: 0;
}

.intro__text {
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.41;
  margin-top: 40px;
  width: 100%;
}

.intro__author {
  color: #fff;
  margin-top: 10px;
  width: 100%;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.41;
  text-align: end;
}

.intro__paragraph {
  color: #fff;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.63;
  margin-top: 32px;
}

/* Responsive adjustments for mobile screens */

@media screen and (min-width: 320px) and (max-width: 544px) {
  .intro {
    width: 90%;
    margin-top: 90px;
  }

  .intro__title {
    width: 100%;
    font-size: 45px;
    line-height: 1.08;
  }
}

/* Responsive adjustments for tablet screens */

@media screen and (min-width: 545px) and (max-width: 1024px) {
  .intro {
    width: 94%;
    margin-top: 90px;
  }

  .intro__title {
    width: 100%;
    font-size: 45px;
    line-height: 1.08;
  }
}
