.logo {
  width: 254px;
  height: 70px;
  margin: 18px auto 0 auto;
}

/* Responsive adjustments for mobile screens */

@media screen and (min-width: 320px) and (max-width: 544px) {
  .logo {
    height: 66px;
    margin-top: 14px;
  }
}

/* Responsive adjustments for tablet screens */

@media screen and (min-width: 545px) and (max-width: 1024px) {
  .logo {
    width: 188px;
    height: 52px;
    margin: 4px auto 0 auto;
  }
}
